[submodule "iOS/XMLCoder"]
	path = iOS/XMLCoder
	url = https://github.com/drewag/XMLCoder.git
[submodule "iOS/CryptoSwift"]
	path = iOS/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
